@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Noto+Sans+KR&display=swap');
    table, #notice, #NHSK, header, li {
        font-family: 'M PLUS 1p', 'Noto Sans KR', sans-serif;
        font-weight: bolder;
    }
    .BASIC strong {
        color: rgb(214, 244, 255);
    }
    strong {
        color: #FC80A5;
    }
    .JIKEN {
        background: #e86b79;
    }
    .JIDAI {
        width: 10%;
    }
    .JIDAI, .JIDAI small, .TENO small, .TAISI small, .SOGA small, .FUJIWARA small, .TACHIBANA small, .INSEI small, .TAIRA small, .MINAMOTO small{
        color: white;
    }
    .RekishiTable td {
        padding: 10px;
        font-weight: bold;
    }
    .TENO {
        background: #353535;
        color: #f6b65a;
    }
    .INSEI {
        background: #2e2e2e;
        color: #ebcb9f;
    }
    .TAISI {
        background: gray;
        color: #f6b65a;
    }
    .SEKAN {
        background: gray;
        color: black;
    }
    .SOGA {
        background: #de7c6b;
        color: white;
    }
    .white {
        background: gray;
        color: white;
    }
    .FUJIWARA {
        color: whitesmoke;
        background-image: url('./monji/Japanese_crest_Sagari_Fuji.svg');
        background-color: #578099;
        background-position: center;
        background-repeat: no-repeat;
    }
    .TAIRA {
        color: whitesmoke;
        background-image: url('./monji/Ageha-cho.svg');
        background-color: rgb(216, 136, 105);
        background-position: center;
        background-repeat: no-repeat;
    }
    .TACHIBANA {
        color: whitesmoke;
        background-image: url('./monji/Japanese_crest_Tachibana.svg');
        background-color: #c77b7f;
        background-position: center;
        background-repeat: no-repeat;
    }
    .MINAMOTO {
        color: whitesmoke;
        background-image: url('./monji/Sasa_Rindo.svg');
        background-color: #b18cd3;
        background-position: center;
        background-repeat: no-repeat;
    }
    .TENO, .SEKAN, .JIDAI, .Year, .YearName, .white, .TAISI, .SOGA, .FUJIWARA, .TACHIBANA, .INSEI, .TAIRA, .MINAMOTO{
        text-align: center;
        font-size: 20pt;
    }
    .YearNameSmall {
        text-align: center;
        font-size: 14pt;
    }
    .YearNameSmall small {
        font-size: 8pt;
    }
    .SYOKUI {
        font-size: 14pt;
    }
    .Article {
        font-size: 14pt; 
        text-align: left;
        background: #f5f5f5;
        width: 30%;
    }
    #notice a {
        color: black;
    }
    .Year {
        background: #00b992; 
        text-align: left;
        color: white;
        width: 10%;
    }
    .YearName, .YearNameSmall {
        background: #e86b79; 
        text-align: center;
        color: white;
    }
    .JIDAIhajime {
        background: #00b992; 
        text-align: left;
        color: white;
        padding: 10px;
        box-shadow: 0 0 10px#00b992;
        border-radius: 5px;
    }
    .BASIC {
        background: #5b92e4; 
        text-align: left;
        color: white;
        padding: 10px;
        border-radius: 5px;
    }
    .DAIHENb {
        background: #e86b79; 
        text-align: left;
        color: white;
        padding: 10px;
        border-radius: 5px;
        padding-left: 15px;
    }
    .DAIHEN:hover, .DAIHENb:hover {
        box-shadow: 0 0 30px#e86b79;
        transition: 0.5s;
    }
    .BASIC:hover {
        box-shadow: 0 0 10px#5b92e4;
        transition: 0.5s;
    }
    .DAIHEN {
        background: #e86b79; 
        text-align: left;
        color: white;
        padding: 10px;
        box-shadow: 0 0 10px#e86b79;
        border-radius: 5px;
        font-size: 24pt;
    }
    small {
        font-size: 12pt;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        color: #e86b79;
        transition: 0.5s;
        text-shadow: 0 0 5px#e86b79;
    }
    sub {
        font-size: 10pt;
    }
    /*articles color*/
    .nhsk, .nhsk a {
        color: #643d4f;
    }
    .sksk, .sksk a {
        color: #3a3a5f;
    }
    .bjks, .bjks a {
        color: #7c6d56;
    }
    #NHSK {
        background-color: #f5f5f5;
        color: #643d4f;
        padding: 5%;
        font-weight: bold;
        font-size: 14pt;
    }
    .SmallYear {
        font-size: 20pt;
    }
    header {
        padding: 10px;
        font-weight: bold;
    }